script: "bin/rake --trace 2>&1"
bundler_args: "--binstubs"
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
env:
  - RAILS_VERSION=3.2.3
  - RAILS_VERSION=3.2.2
  - RAILS_VERSION=3.2.1
  - RAILS_VERSION=3.1.4
  - RAILS_VERSION=3.0.12
  - RAILS_VERSION=3-2-stable
  - RAILS_VERSION=3-1-stable
  - RAILS_VERSION=3-0-stable
  - RAILS_VERSION=master
matrix:
  exclude:
    - rvm: 1.8.7
      env: RAILS_VERSION=master
    - rvm: 1.9.2
      env: RAILS_VERSION=master
  allow_failures:
    - rvm: 1.9.3
      env: RAILS_VERSION=master
    - env: RAILS_VERSION=3-2-stable
    - env: RAILS_VERSION=3-1-stable
    - env: RAILS_VERSION=3-0-stable
