name: RSpec CI
on:
  push:
    branches:
      - 'main'
      - '*-maintenance'
      - '*-dev'
  pull_request:
    branches:
      - '*'
jobs:
  rubocop:
    name: Rubocop
    runs-on: 'ubuntu-20.04'
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
      - run: script/update_rubygems_and_install_bundler
      - run: bundle install --standalone
      - run: bundle binstubs --all
      - run: script/run_rubocop

  test:
    name: 'Ruby: ${{ matrix.ruby }}, Rails: ${{ matrix.env.RAILS_VERSION }}'
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
       include:
         # Edge Rails (7.1) builds >= 2.7
         - ruby: 3.1
           allow_failure: true
           env:
             RAILS_VERSION: 'main'
         - ruby: '3.0'
           allow_failure: true
           env:
             RAILS_VERSION: 'main'
         - ruby: 2.7
           allow_failure: true
           env:
             RAILS_VERSION: 'main'

         # Rails 7.0 builds >= 2.7
         - ruby: 3.1
           env:
             RAILS_VERSION: '~> 7.0.0'
         - ruby: '3.0'
           env:
             RAILS_VERSION: '~> 7.0.0'
         - ruby: 2.7
           env:
             RAILS_VERSION: '~> 7.0.0'

         # Rails 6.1 builds >= 2.5
         - ruby: 3.1
           env:
             RAILS_VERSION: '~> 6.1.0'
         - ruby: '3.0'
           env:
             RAILS_VERSION: '~> 6.1.0'
         - ruby: 2.7
           env:
             RAILS_VERSION: '~> 6.1.0'
         - ruby: 2.6
           env:
             RAILS_VERSION: '~> 6.1.0'
         - ruby: 2.5
           env:
             RAILS_VERSION: '~> 6.1.0'
         - ruby: jruby-9.3.1.0
           env:
             RAILS_VERSION: '~> 6.1.0'
             JRUBY_OPT: '--dev'
             JAVA_OPTS: '--add-opens java.base/sun.nio.ch=org.jruby.dist --add-opens java.base/java.io=org.jruby.dist --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.security=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.security.cert=ALL-UNNAMED --add-opens=java.base/java.util.zip=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.util.regex=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED  --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/javax.crypto=ALL-UNNAMED --add-opens=java.management/sun.management=ALL-UNNAMED'

         # Rails 6.0 builds >= 2.5.0
         - ruby: '3.0'
           env:
             RAILS_VERSION: '~> 6.0.0'
         - ruby: 2.7
           env:
             RAILS_VERSION: '~> 6.0.0'
         - ruby: 2.6
           env:
             RAILS_VERSION: '~> 6.0.0'
         - ruby: 2.5
           env:
             RAILS_VERSION: '~> 6.0.0'
         - ruby: jruby-9.3.1.0
           env:
             RAILS_VERSION: '~> 6.0.0'
             JRUBY_OPT: '--dev'
             JAVA_OPTS: '--add-opens java.base/sun.nio.ch=org.jruby.dist --add-opens java.base/java.io=org.jruby.dist --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.security=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.security.cert=ALL-UNNAMED --add-opens=java.base/java.util.zip=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.util.regex=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED  --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/javax.crypto=ALL-UNNAMED --add-opens=java.management/sun.management=ALL-UNNAMED'

         # Rails 5.2 builds >= 2.2.2
         - ruby: 2.6.6
           env:
             RAILS_VERSION: '~> 5.2.0'
         - ruby: 2.5.8
           env:
             RAILS_VERSION: '~> 5.2.0'
         - ruby: 2.4.10
           env:
             RAILS_VERSION: '~> 5.2.0'
         - ruby: 2.3.8
           env:
             RAILS_VERSION: '~> 5.2.0'
         - ruby: 2.2.10
           env:
             RAILS_VERSION: '~> 5.2.0'
         - ruby: 2.2.10
           env:
             RAILS_VERSION: '5-2-stable'
         - ruby: jruby-9.3.1.0
           env:
             RAILS_VERSION: '~> 5.2.0'
             JRUBY_OPT: '--dev'
             JAVA_OPTS: '--add-opens java.base/sun.nio.ch=org.jruby.dist --add-opens java.base/java.io=org.jruby.dist --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.security=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.security.cert=ALL-UNNAMED --add-opens=java.base/java.util.zip=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.util.regex=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED  --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/javax.crypto=ALL-UNNAMED --add-opens=java.management/sun.management=ALL-UNNAMED'

    env: ${{ matrix.env }}
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - run: script/update_rubygems_and_install_bundler
      - run: script/clone_all_rspec_repos
      - run: bundle install --binstubs
      - run: script/run_build
        continue-on-error: ${{ matrix.allow_failure || false }}
